.row
  .col-xs-8.col-xs-offset-2
    div.page-header 
      h1 About me

    p I'm from Puerto Rico; fluent in English, Spanish, and JavaScript.
    p I enjoy programming and I'm passionate about web development; overall I just enjoy making cool things. 
    p Currently working in Mountain View, CA at a tech startup called <a href="http://www.treasuredata.com">Treasure Data</a> as a software engineer.
    p Living in San José, CA. This place is a desert.
    p Feel free to contact me over <a href="https://github.com/cesarandreu">Github</a> or <a href="https://twitter.com/cesarandreu">Twitter</a>.
  .col-xd-3