header.navbar.navbar-default.navbar-fixed-top(ng-controller='NavbarCtrl')
  .navbar-inner
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', ng-click='isCollapsed = !isCollapsed')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.visible-xs(href='/') cesarandreu
      nav.hidden-xs.ng-cloak
        ul.nav.navbar-nav
          a.navbar-brand(href='/', role='button') cesarandreu
          li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
            a(ng-href='{{item.link}}') {{item.title}}
      nav.visible-xs.ng-cloak(collapse='!isCollapsed')
        ul.nav.navbar-nav
          li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
            a(ng-href='{{item.link}}', ng-click='toggleIsCollapsed()') {{item.title}}

.header-placeholder
